@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Allison', cursive;
}

table{
    text-align: left;
    border-collapse: collapse;
}

th,
td{
    vertical-align: top;
    padding: 0.75rem;
}

td{
    font-family: 'Allison', cursive;
    font-size: 1.2rem;
    border: 3px solid;
    min-width: 10rem;
}

table{
    margin-left: 50px;
    background-color: aqua;
}

td:hover{
    transform: scale(1.2);
    background-color: hotpink;
}

header{
    font-size: xx-large;
    font-weight: bolder;
    padding-left: 358px;
}